
{% load static %}

<!DOCTYPE html>
<html dir="ltr">  
    <head>
        <title>No Birthdays today!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">        
        <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        
        <style>
            body, h1 {font-family: "Raleway", sans-serif}

            body, html {height: 100%}
            
            .bgimg {
                background-image: url("{% static 'img/nobirthdays.jpg' %}");
                min-height: 100%;
                background-position: center;
                background-size: cover;
            }

            .logo {
                image-rendering: high-quality;
                width: 100%;
                max-width: 18%;
            }
        </style>
    </head>

    <body>
        
        <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
            <div class="w3-display-topleft w3-padding-large w3-xlarge">
                <a href="https://www.wcce.org.ng" target="_blank"><img src="{% static 'img/mitc-logo-trans.png' %}" class="logo"></a>
            </div>
            <div class="w3-display-middle">
                <h1 class="w3-jumbo w3-center">NO BIRTHDAY TODAY</h1>
                <hr class="w3-border-white" style="margin:auto;width:40%">
                <p class="w3-large w3-center">Hopefully tomorrow</p>
            </div>
            <div class="w3-large w3-center w3-display-bottommiddle w3-padding-large">
                <a href="https://www.wcce.org.ng" target="_blank" style="text-decoration: none">MITC, Edo State</a>
            </div>
        </div>

    </body>

</html>