{% extends "base.html" %}
{% load static tailwind_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    <title>
        Staff Deleted
    </title>
{% endblock %}

{% block content %}

    <!-- Search bar -->
    <div class="max-w-3xl rounded-lg mx-auto mt-8 mb-8">

        <!-- Search form -->
        <form action="{% url 'searchresult' %}" class="flex items-center" method="GET">            
            {% csrf_token %}
            <div class="relative w-full">

                <!-- Input -->
                <input type="text" id="simple-search" name="q" class="bg-white block font-medium border border-none text-gray-900 text-lg rounded-md 
                                                        focus:border-blue-500 block w-full p-4  
                                                        focus:ring-2 focus:outline-none focus:ring-blue-500
                                                        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                                                        dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search for a staff..." required>
            </div>

            <!-- Submit Query -->
            <button type="submit" class="px-8 py-4 ml-2 text-md font-medium text-white bg-blue-700 rounded-md border
                                        border-2 border-blue-700 hover:border-blue-800 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
                                        dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </button>
        </form>
    </div>
    
    <!-- Profile Card -->
    <div class="max-w-3xl mx-auto px-8 mb-20 bg-white rounded-lg border border-gray-200 shadow-lg dark:bg-gray-800 dark:border-gray-700">   

        <!-- Container -->
        <div class="flex flex-col items-center py-8">

            <!-- Exclamation icon -->
            <svg class="mx-auto mb-4 w-14 h-14 text-green-600 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            
            <!-- Name -->
            <h5 class="mb-4 text-3xl text-center font-extrabold text-gray-800 dark:text-white">
                 {{ first_name.title }} 
                 {{ middle_name.title }} 
                 {{ last_name.title }}
            </h5>

            <!-- Report -->
            <span class="mb-4 md:mb-4 lg:mb-4 text-lg font-bold text-center text-gray-500">
                has been deleted from the Database
            </span>

        <!-- End - Container -->
        </div>

    <!-- End - Profile Card -->
    </div>
{% endblock %}