{% load static tailwind_tags %}
{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{{ staff.first_name }}'s Details</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-300 font-sans py-8 px-4">
        
        <!-- Profile card -->
        <div class="min-h-full container mx-auto items-center max-w-lg w-full bg-white rounded-lg 
                    border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-end px-4 pt-4">

                <!-- Dropdown button -->
                <button id="dropdownButton" data-dropdown-toggle="dropdown"
                    class="hidden sm:inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
                    type="button">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z">
                        </path>
                    </svg>
                </button>

                <div id="dropdown" class="hidden z-10 w-44 text-base list-none bg-gray-300 
                                        rounded divide-y divide-gray-100 shadow dark:bg-gray-700"
                    data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top"
                    style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(614px, 3238px);">
                    <ul class="py-1" aria-labelledby="dropdownButton">
                        <li>
                            <a href="{% url 'index' %}"
                                class="block py-2 px-4 text-sm font-medium text-gray-600 hover:bg-gray-100 
                                    dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'stafflist' %}"
                                class="block py-2 px-4 text-sm font-medium text-gray-700 hover:bg-gray-100 
                                      dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                Staff list
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="flex flex-col items-center pb-10 space-y-4">
                <!-- Staff image -->
                <img class="mb-3 w-32 h-32 rounded-full shadow-lg" src="{{ staff.staffimage.url }}" alt="{{ staff.first_name }} image">

                <!-- Name -->
                <div>
                    <h5 class="mb-1 text-2xl font-extrabold text-gray-800 dark:text-white">
                        {{ staff.first_name }} 
                        {% if staff.middle_name %}
                            {{ staff.middle_name }}                            
                            {% else %}
                                <span></span>
                        {% endif %}
                        {{ staff.last_name }}
                    </h5>
                </div>
                
                <!-- Position -->
                {% if staff.position %}                
                    <div>
                        <p class="text-lg font-bold text-gray-500 dark:text-gray-400">{{ staff.position }}</p>
                    </div>
                    {% else %}
                        <span class="text-lg font-bold text-gray-500 dark:text-gray-400">Position: nil</span>
                {% endif %}

                <!-- Phone Number -->
                {% if staff.phone_number %}
                    <div>
                        <p class="text-lg font-bold text-gray-500 dark:text-gray-400">{{ staff.phone_number }}</p>
                    </div>
                    {% else %}  
                        <span class="text-lg font-bold text-gray-500 dark:text-gray-400">Phone Number: nil</span>                     
                {% endif %}
                
                <!-- Email -->
                <div>
                    <p class="text-lg font-bold text-gray-500 dark:text-gray-400">{{ staff.email }}</p>
                </div>

                <!-- Birthday -->
                <div class="inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M6 3a1 1 0 011-1h.01a1 1 0 010 2H7a1 1 0 01-1-1zm2 3a1 1 0 00-2 0v1a2 2 0 00-2 2v1a2 2 0 00-2 2v.683a3.7 3.7 0 011.055.485 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0A3.7 3.7 0 0118 12.683V12a2 2 0 00-2-2V9a2 2 0 00-2-2V6a1 1 0 10-2 0v1h-1V6a1 1 0 10-2 0v1H8V6zm10 8.868a3.704 3.704 0 01-4.055-.036 1.704 1.704 0 00-1.89 0 3.704 3.704 0 01-4.11 0 1.704 1.704 0 00-1.89 0A3.704 3.704 0 012 14.868V17a1 1 0 001 1h14a1 1 0 001-1v-2.132zM9 3a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zm3 0a1 1 0 011-1h.01a1 1 0 110 2H13a1 1 0 01-1-1z" clip-rule="evenodd" />
                    </svg>
                    <p class="text-lg font-bold text-gray-500 dark:text-gray-400">{{ staff.birth_month_verbose }} {{ staff.birth_day }}</p>
                </div>
                <br>

                <div class="flex mt-4 space-x-3 lg:mt-6">

                    <!-- Update button -->
                    <a href="{% url 'updatestaff' staff.id %}">
                        <button type="button" class="inline-flex items-center mr-1 ml-1 px-4 py-2 border border-green-500 rounded-md shadow-sm 
                                                text-md font-medium text-white bg-green-600 hover:border-green-500 hover:bg-green-500 
                                                focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300">
                            <svg class="-ml-1 mr-2 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                            </svg>
                            Update
                        </button>
                    </a>

                    <!-- Remove -->
                    <a>
                        <button type="button" class="inline-flex items-center ml-1 px-4 py-2 border border-red-600 rounded-md shadow-sm 
                                                text-md font-medium text-white bg-red-600 hover:border-red-500 hover:bg-red-500 
                                                focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-300">
                            <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                            Remove
                        </button>
                    </a>
                </div>
            </div>
        </div>           
	</body>   
</html>