{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    <title>Search Result</title>
{% endblock %}

{% block content %}

    <!-- Search bar -->
    {% include 'snippets/searchbar.html' %}
    
    <!-- Search Result -->
    <div
        id="searchresult-list"
        class="mt-12 max-w-4xl mb-12 md:mb-20 bg-white rounded-none border pt-8 pb-0
               mx-auto shadow-md"
    >
        {% include 'snippets/htmx-searchresult-list.html' %}
    </div>
    <!-- End Search Result -->    
    
{% endblock %}