{% extends "base.html" %}
{% load static tailwind_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    <title>
        Staff Deleted
    </title>
{% endblock %}

{% block content %}
    <!-- Profile Card -->
    <div
        class="flex justify-center items-center mx-auto rounded-none shadow-sm"
    >

        <!-- Container -->
        <div class="mt-12 mb-20 md:mt-24 mx-auto p-8 bg-white w-full max-w-3xl">

            <!-- Checkmark icon -->
            <svg
                class="mx-auto mb-4 w-16 h-16 text-green-600"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            <!-- Name -->
            <h5 class="mb-4 text-3xl text-center font-extrabold text-gray-800">
                {{ request.session.first_name.title }}
                {{ request.session.middle_name.title }}
                {{ request.session.last_name.title }}
            </h5>

            <!-- Report -->
            <p class="text-xl font-bold text-center text-gray-500">
                has been deleted from the database
            </p>

        <!-- End - Container -->
        </div>

    <!-- End - Profile Card -->
    </div>
{% endblock %}