{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>
        Update {{ staff.first_name }}'s Profile
    </title>
{% endblock %}

{% block content %}

    <!-- Search bar -->
    {% include 'snippets/searchbar.html' %}  

    <!-- Outer Container -->
    <div class="max-w-3xl min-h-full flex items-center justify-center mx-auto py-8 px-6 md:px-0 lg:px-0">
    
        <!-- Inner Container -->
        <div class="w-full bg-white -mt-4 -mb-8 lg:-mb-10 shadow-md rounded-lg px-10 py-8">

            <!-- Form -->
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                        
                <!-- Profile Picture -->
                <div class="mb-4 flex flex-col items-center">
                    <img class="mb-4 mt-1 w-32 h-32 rounded-full shadow-sm" src="{{ staff.staff_image.url }}"
                        alt="{{ staff.first_name }} {{ staff.last_name }} image">
                </div>
    
                <!-- Form title -->
                <div class="w-full mb-6 md:w-[450px] md:mx-auto">
                    <h2 class="text-center text-3xl font-extrabold text-gray-900">
                        Update: <span class="underline underline-offset-4"><em>{{ staff.first_name }} {{ staff.last_name }}</em></span>
                    </h2>
                </div>

                <p class="text-md mt-10 font-medium text-red-600"><em>Fields marked with <span class="text-lg font-medium text-red-600">*</span> are required</em></p>

                <!-- Fields -->
                <div class="grid gap-6 mt-8 md:mt-8 mb-6 lg:grid-cols-2">
                    <input type="hidden" name="remember" value="true">

                    <!-- First Name -->
                    <div>
                        <label for="first_name" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.first_name.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.first_name class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                                                
                    </div>

                    <!-- Middle Name -->
                    <div>
                        <label for="middle_name" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.middle_name.label }}<span class="ml-1 text-1xl"></span></label>
                        {% render_field form.middle_name class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                        
                    </div>

                    <!-- Last Name -->
                    <div>
                        <label for="last_name" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.last_name.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.last_name class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                                                
                    </div>

                    <!-- Gender -->
                    <div>
                        <label for="gender" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.gender.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.gender class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                                                
                    </div>
                    
                    <!-- Phone Number -->
                    <div>
                        <label for="phone_number" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.phone_number.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.phone_number class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                                                
                    </div>
                    
                    <!-- Official Email -->
                    <div>
                        <label for="email" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.email.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.email class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                                                
                    </div>
                    
                    <!-- Cadre -->
                    <div>
                        <label for="cadre" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.cadre.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.cadre class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                                                
                    </div>

                    <!-- First Appointment -->
                    <div>
                        <label for="department" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.first_appointment.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.first_appointment id="datepicker" type=text class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 bg-white placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                                                
                    </div>
                    
                    <!-- Department -->
                    <div>
                        <label for="department" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.department.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.department class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 bg-white placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                                                
                    </div>
                    
                    <!-- Level -->
                    <div>
                        <label for="level" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.level.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.level class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                                                
                    </div>
                    
                    <!-- Step -->
                    <div>
                        <label for="step" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.step.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.step class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                        
                    </div>
                    
                    <!-- Birth Month -->
                    <div>
                        <label for="birth_month" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.birth_month.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.birth_month class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                        
                    </div>
                    
                    <!-- Birth Day -->
                    <div>
                        <label for="birth_day" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.birth_day.label }}<span class="ml-1 text-1xl font-medium text-red-600"><em>*</em></span></label>
                        {% render_field form.birth_day class+="text-md md:text-md font-medium block rounded-md w-full p-3 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" %}                                                
                    </div>

                    <!-- Profile Picture -->
                    <div>
                        <label for="staff_image" class="block mb-2 text-md font-bold text-gray-500 dark:text-gray-300">{{ form.staff_image.label }}<span class="ml-1 text-1xl"></span></label>
                        {% render_field form.staff_image class+="cursor-pointer text-md md:text-md font-medium block rounded-md md:w-full w-full px-3 py-2 border border-4 border-gray-300 placeholder-gray-500 text-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %}                        
                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG or GIF (MAX. 1500x1500px).</p>
                        
                        <!-- Delete Remove Profile Picture -->
                        <div class="flex items-center">                            
                            {% render_field form.delete_image value="" id="checked-checkbox" type="checkbox" class+="cursor-pointer w-4 h-4 text-blue-600 bg-gray-100 border border-4 border-gray-300 focus:ring-blue-500 focus:ring-2" %}                        
                            <label for="checked-checkbox" class="cursor-pointer ml-2 text-md font-medium text-gray-700">{{ form.delete_image.label }}</label>
                        </div>
                    </div>
                </div>
                
                
                <!-- Update and Remove buttons -->
                <div class="flex items-center w-full space-x-4">
                    <!-- Update -->
                    <button type="submit" class="group relative w-full flex items-center mx-auto justify-center mt-6 mb-4 py-3 px-4 border border-transparent 
                                                text-md font-medium rounded-md text-white bg-blue-700 hover:bg-blue-600 focus:outline-none 
                                                 focus:ring-4 focus:ring-offset-2 focus:ring-blue-500">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3 inline-flex items-center">
                            <svg class="-ml-1 mr-2 h-7 w-7 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path
                                    d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                            </svg>
                        </span>
                        Update
                    </button>

                    <!-- Back to Profile -->
                    <a href="{% url 'staffdetails' staff.id %}" class="w-full">
                        <button type="button" class="group relative w-full flex items-center mx-auto justify-center mt-6 mb-4 py-3 px-4 border border-red-700 
                                                text-md font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none 
                                                 focus:ring-4 focus:ring-offset-2 focus:ring-red-500 hover:border-red-600">
                            Cancel
                        </button>
                    </a>
                </div>
                <!-- End of Update and Remove buttons -->

            </form>
        </div>
    </div>
{% endblock %}